<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<div id="content">
		{include content}

		<div id="footer">
			<a id="github-link" href="https://github.com/kaleckyj/datron-ares">GitHub repository</a>
		</div>
	</div>



	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
